*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.wrepper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrepper .event{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrepper .event button{
    background: #faa361;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 3px solid #fff;
    padding: .8rem;    
    margin: 2rem 2.3rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.wrepper .event button:hover{
    background: rgba(200, 10, 50, 0.3);
}

.wrepper .event p{
    color: #fff;
    background: #00ffff;
    padding: .5rem .8rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}


